* {
  font-family: 'Lato', sans-serif;
  color: #1c2222;
}

.main-container {
  overflow-x:hidden;
}

/* GENERIC CLASSES OBS. FOR FLEXBOX ROW */
.all-in-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
}

.horizontal-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
    justify-content: center;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 5em;
  font-weight: 900;
}

.navy-blue {
  color: #1c2222;
}

.gold-yellow {
  color: #fecd08;
}

.deep-red {
  color: #e80033;
}

.plain-white {
  color: #FFF;
}

.hide {
  display: none;
}

/* FIRST CONTAINER */
.first-container {
    background: url('../img/bgs/main_bg.jpg');
    background-size: cover;
    flex-flow: row wrap;
    display: flex;
    height: 350px;
}

.logo {
  width: 205px;
  height: 223px;
}

.site-title {
  margin: 0;
  color: #fff;
}

.main-contact {
  color: #fff;
}

.main-contact {
  margin: 0;
  float: right;
}

/* SECOND CONTAINER */
.second-container {
  background: #1c2222;
  height: 370px;
}

.second-container h2 {
  margin: 10px;
  position: relative;
  left: 0;
}

.skills-wrapper {
  width: 100%;
  height: 234px;
  position: relative;
  top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.major-skill {
  font-size: 3em;
  font-weight: 400;
  margin: 0;

  width: 100%;
  text-align: center;
}

.secondary-skill {
  font-weight: 700;
  margin: 0;
}

.major-skill.web {
  position: relative;
  top: -20px;
}

.web-secondary {
  position: relative;
  top: -20px;
}

.major-skill.ios {
  position: relative;
  top: -20px;
}

.secondary-skill.objc,
.secondary-skill.slash,
.secondary-skill.swift {
  position: relative;
  font-size: 0.4em;
  left: 0px;
}

.second-container .connector {
  position: relative;
  top: -40px;
  left: 110px;
  font-size: 2em;
  margin: 0;
}

.major-skill.entreprenuership {
  position: relative;
  top: -50px;
  font-size: 2.5em;
}

/* Third container */
.third-container {
  overflow-x: hidden;
}

.third-container h2 {
  margin: 15px 0 0 10px;
}

.project-container {
}

.project-screenshot {
  padding: 15px;
  max-width: 500px;
}
.project-details {
  max-width: 500px;

  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.project-details h3 {
  font-size: 3em;
  margin: 0;

  width: 100%;
  text-align: center;
}

.project-details p {
  margin: 10px 0;
  width: 100%;
  text-align: center;
}

.more-projects-btn {
  margin: 50px auto;
  height: 100px;
  font-size: 2em;
  color: #fff;

  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(66, 184, 221);
}

.white-ico {
  color: #fff;
}

.card-wrapper {
  width: 100%;
  height: 0px;
  transition: height .3s;
  display: flex;
  justify-content: center;
  overflow-y: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.card {
  width: 100%;
  background: #fafafa;
  margin: 30px;
  padding: 0 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.card p {
  margin: 5px 0;
}

.card .description {
  font-size: 0.8em;
}

.card .justified {
  text-align: justify;
}

.card .tag {
  background: #FFF;
  margin: 0 5px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0px 5px rgba(0,0,0,0.19), 0 2px 2px rgba(0,0,0,0.23);
}

/* FORTH CONTAINER */
.fourth-container {
  background: #1c2222;
  color: #fff;
  padding: 0 0 10px;
}

.fourth-container h2 {
  margin: 15px 0 0 10px;
  color: #fff;
  font-size: 2em;
}

.fourth-container .details {
  margin: 25px 10px 0;
}

.fourth-container .subtitle {
  color: #fff;
  font-size: 1.3em;
  margin: 0;
}

.social-media-link {
  position: relative;
  margin: 10px 0;
}

.social-media-link img {
  width: 64px;
  height: auto;
  display: inline-block;
}

.social-media-link a {
  color: #fff;
  display: inline-block;
  margin: 0 0 0 15px;
  font-size: 2em;
}

.linkedin-bubble {
  color: #fff;
  position: absolute;
  top: -130px;
  left: 140px;
  width: 220px;
  height: 150px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.linkedin-bubble img {
  position: absolute;
  width: 238px;
  height: auto;
  z-index: 1;
}

.alternative-contact p,
.alternative-contact a {
  text-align: center;
  font-size: 2em;
  margin: 10px 0;
}

/* FIFTH CONTAINER */
.fifth-container {
  height: 100px;
  background: #fecd08;
  color: #1c2222;
  display: flex;
}

.fifth-container p {
  font-size: 1em;
  text-align: center;
}

/* SM */
@media screen and (min-width: 35.5em) {

}

/* MD */
@media screen and (min-width: 48em) {
  h1 {
    font-size: 7em;
  }

  .first-container {
    height: 500px;
  }

  .major-skill {
    font-size: 5em;
  }

  .major-skill.web {
    top: -105px;
    width: 150px;
  }

  .web-secondary {
    position: relative;
    top: -80px;
  }

  .secondary-skill.frontend {
    top: -20px;
  }

  .secondary-skill.backend {
    top: 10px;
  }

  .secondary-skill.fullstack {
    top: -37px;
  }

  .major-skill.ios {
    top: -120px;
  }

  .secondary-skill.objc,
  .secondary-skill.slash,
  .secondary-skill.swift {
    font-size: 0.5em;
    left: 0px;
  }

  .second-container .connector {
    top: -135px;
    left: 0px;
    font-size: 3em;
  }

  .major-skill.entreprenuership {
    top: -160px;
    font-size: 5em;
  }

  .fourth-container .details {
    margin: 50px 10px 0;
  }

  .fourth-container h2 {
    font-size: 4em;
  }

  .fourth-container .subtitle {
    font-size: 2em;
  }

  .fifth-container p {
    font-size: 1.25em;
  }
}

/* LG */
@media screen and (min-width: 64em) {

}

/* XL */
@media screen and (min-width: 80em) {

}

/* PURECSS Buttons */
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
